.footer {
  background-color: var(--alpha);
  color: var(--delta);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    margin-left: 50px;
    padding: 10px;

    img {
      width: 30px;
      height: 30px;
      padding-right: 10px;
    }

    img:hover{
      transform: scale(1.5);
      cursor: pointer;
    }
  }

  &__copyright {
    margin-right: 50px;
    p {
      color: yellow;
    }
  }
}
